Repository ssube/docker-thirdparty: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:base, image:golang, image:node, image:python3, image:ansible, image:bfg, image:code-climate, image:codecov, image:hugo, image:licensed, image:rclone, image:shellcheck, image:sonar-scanner, image:terraform, image:nexus

Path conditions:
  image:base: any of: base/Dockerfile
  image:golang: any of: golang/Dockerfile
  image:node: any of: node/Dockerfile
  image:python3: any of: python3/Dockerfile
  image:ansible: any of: ansible/Dockerfile
  image:bfg: any of: bfg/Dockerfile
  image:code-climate: any of: code-climate/Dockerfile
  image:codecov: any of: codecov/Dockerfile
  image:hugo: any of: hugo/Dockerfile
  image:licensed: any of: licensed/Dockerfile
  image:rclone: any of: rclone/Dockerfile
  image:shellcheck: any of: shellcheck/Dockerfile
  image:sonar-scanner: any of: sonar-scanner/Dockerfile
  image:terraform: any of: terraform/Dockerfile
  image:nexus: any of: nexus/Dockerfile

chore(deps): add renovate.json
  renovate.json
Due: none

fix(build): configure renovate
  renovate.json
Due: none

feat(docker-dind): add image
  .gitlab-ci.yml
  docker-dind/Dockerfile
  docker-dind/entrypoint.sh
Due: none

fix(docker-dind): add tests
  .gitignore
  docker-dind/Gossfile.yml
Due: none

fix(docker-dind): match CLI and daemon versions
  docker-dind/Dockerfile
Due: none

feat(docker): split up docker and dind images
  .gitlab-ci.yml
  docker-dind/Dockerfile
  docker-dind/Gossfile.yml
  docker/Dockerfile
  docker/Gossfile.yml
Due: none

enable docker volume
  docker-dind/Dockerfile
Due: none

wget and use official entrypoint script
  docker-dind/Dockerfile
Due: none

use correct entry script
  docker-dind/Dockerfile
Due: none

Update sonatype/nexus3 Docker tag to v3.19.0
  nexus/Dockerfile
Due: image:nexus

Update sonatype/nexus3 Docker tag to v3.19.1
  nexus/Dockerfile
Due: image:nexus

feat(games): add image for Conan server
  games/conan/Dockerfile
Due: none

sort images into subdirs
  .gitlab-ci.yml
  games/tschock/Dockerfile
  language/golang/Dockerfile
  language/golang/Gossfile.yml
  language/node/Dockerfile
  language/node/Gossfile.yml
  language/python3/Dockerfile
  language/python3/Gossfile.yml
  service/docker-dind/Dockerfile
  service/docker-dind/Gossfile.yml
  service/docker-dind/entrypoint.sh
  service/nexus/Dockerfile
  service/nexus/Gossfile.yml
  tool/ansible/Dockerfile
  tool/ansible/Gossfile.yml
  tool/bfg/Dockerfile
  tool/bfg/Gossfile.yml
  tool/code-climate/Dockerfile
  tool/code-climate/Gossfile.yml
  tool/codecov/Dockerfile
  tool/codecov/Gossfile.yml
  tool/docker/Dockerfile
  tool/docker/Gossfile.yml
  tool/hugo/Dockerfile
  tool/hugo/Gossfile.yml
  tool/licensed/Dockerfile
  tool/licensed/Gossfile.yml
  tool/rclone/Dockerfile
  tool/rclone/Gossfile.yml
  tool/shellcheck/Dockerfile
  tool/shellcheck/Gossfile.yml
  tool/sonar-scanner/Dockerfile
  tool/sonar-scanner/Gossfile.yml
  tool/terraform/Dockerfile
  tool/terraform/Gossfile.yml
Due: none

update(node): to 12
  language/node/Dockerfile
Due: none

update(base): kubectl to 1.16
  base/Dockerfile
Due: image:base

remove(ceph): unused image
  ceph/Dockerfile
Due: none

update(go): to 1.14, remove dep
  language/golang/Dockerfile
Due: none

fix: version tests
  base/Gossfile.yml
Due: none

feat(build): image builder script
  .gitlab-ci.yml
  scripts/image-build.sh
Due: none

fix script perms
  scripts/image-build.sh
Due: none

fix script shebang
  scripts/image-build.sh
Due: none

bump image versions
  .gitlab-ci.yml
  language/golang/Dockerfile
  language/node/Dockerfile
  language/python3/Dockerfile
  nexus/Dockerfile
  tool/ansible/Dockerfile
  tool/bfg/Dockerfile
  tool/code-climate/Dockerfile
  tool/docker/Dockerfile
  tool/licensed/Dockerfile
  tool/rclone/Dockerfile
  tool/shellcheck/Dockerfile
  tool/terraform/Dockerfile
Due: image:nexus

fix(build): run tests against image hash
  base/Dockerfile
  scripts/image-build.sh
Due: image:base

fix(build): enable pipefail
  base/Dockerfile
  scripts/image-build.sh
Due: image:base

update: update apextoaster/base docker tag to v1.3
  language/golang/Dockerfile
  language/node/Dockerfile
  language/python3/Dockerfile
  nexus/Dockerfile
  tool/ansible/Dockerfile
  tool/bfg/Dockerfile
  tool/code-climate/Dockerfile
  tool/docker/Dockerfile
  tool/licensed/Dockerfile
  tool/rclone/Dockerfile
  tool/shellcheck/Dockerfile
  tool/terraform/Dockerfile
Due: image:nexus

fix goss versions
  base/Dockerfile
  language/golang/Gossfile.yml
  language/node/Gossfile.yml
Due: image:base

feat(build): pull previous image and reuse cached layers
  scripts/image-build.sh
Due: none

fix(language/node): tested version
  language/node/Gossfile.yml
Due: none

feat(build): switch to custom docker/dind images
  .gitlab-ci.yml
  scripts/image-build.sh
Due: none

update(tool/sonar-scanner): to node 12
  tool/ansible/Gossfile.yml
  tool/codecov/Gossfile.yml
  tool/sonar-scanner/Dockerfile
Due: none

fix(language/node): minor version
  .gitlab-ci.yml
Due: none

fix(tool/bfg): download over HTTPS
  tool/bfg/Dockerfile
Due: none

update: update sonatype/nexus3 docker tag to v3.21.1
  service/nexus/Dockerfile
Due: none

update(games/conan): to March 10th patch release
  games/conan/Dockerfile
Due: none

update(build): image version for Nexus
  .gitlab-ci.yml
  service/nexus/Dockerfile
Due: none

fix(service/nexus): correct composer plugin jar path
  service/nexus/Dockerfile
Due: none

fix(tool/codecov): remove version from bash test
  tool/codecov/Gossfile.yml
Due: none

fix(service/nexus): correct composer plugin filename
  service/nexus/Dockerfile
Due: none
